<form  [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
  

  <div class="container">
 <input type="text" class="fortextbox" name="emailid" placeholder="emailid" 
         formControlName="emailid">
      <br/>
      
      <input type="password" class="fortextbox" name="passwd" 
         placeholder="passwd" formControlName="passwd">
      <br/>
      
      <input type="submit" class="forsubmit" value="Log In">
    
  </div>
Email and password :- {{emailid}} {{passwd}}
  
</form>